<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
    <script>
        function getinfo(){
            fetch(`https://restcountries.eu/rest/v2/name/pakistan`).then((resp)=>{
            return JSON.parse(resp.body);
            }).then((data)=>{
                const name=data.name;
                const pop=data.population;
                console.log(name);
                console.log(pop);

            })
        }
        getinfo();
    </script>
    
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 d-flex mt-1">
                <div class="flag pt-2 text-center">
                    <img src="{{flag}}" alt="">
                    <h2 class="text-center">{{con}}</h2>
                </div>
               
            </div>
            <div class="col-sm-6  mt-1">
               <h2>paksitan</h2>
               <h3>population:3456</h3>
               <h4>code : pk</h4>
               
            </div>
           
        </div>
    </div>

    <div class="container-fluid mt-3 d-flex justify-content-center align-items-center">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-sm-12 main-con ">
                <div class="main-div">
                    <div class="head d-flex justify-content-between align-items-center">
                        <div >
                            <h3 style="font-weight: bold;">Conform case</h3>
                        </div>
                        <div class="icon p-3">
                            <img src="teamwork.png" alt="" class="img-fluid " width="60px" height="60px">
                        </div>
                    </div>  
                   <div class="case">
                   <strong>{{case}}</strong>
                   </div>
                </div>
                <div class="main-div">
                    <div class="head d-flex justify-content-between align-items-center">
                        <div >
                            <h3 style="font-weight: bold;">Today case</h3>
                        </div>
                        <div class="icon p-3">
                            <img src="group.png" alt="" class="img-fluid " width="60px" height="60px">
                        </div>
                    </div>  
                   <div class="case">
                   <strong> {{tcase}}</strong>
                   </div>
                </div>
                <div class="main-div">
                    <div class="head d-flex justify-content-between align-items-center">
                        <div >
                            <h3 style="font-weight: bold;">Death</h3>
                        </div>
                        <div class="icon p-3">
                            <img src="heart-beat.png" alt="" class="img-fluid ml-2 " width="70px" height="70px">
                        </div>
                    </div>  
                   <div class="case">
                   <strong>{{death}}</strong>
                   </div>
                </div>
                <div class="main-div">
                    <div class="head d-flex justify-content-between align-items-center">
                        <div >
                            <h3 style="font-weight: bold;">Today death</h3>
                        </div>
                        <div class="icon p-3">
                            <img src="heart-rate.png" alt="" class="img-fluid " width="70px" height="70px">
                        </div>
                    </div>  
                   <div class="case">
                   <strong> {{tdeath}}</strong>
                   </div>
                </div>
                <div class="main-div">
                    <div class="head d-flex justify-content-between align-items-center">
                        <div >
                            <h3 style="font-weight: bold;">recoverd</h3>
                        </div>
                        <div class="icon p-3">
                            <img src="recovery.png" alt="" class="img-fluid " width="60px" height="60px">
                        </div>
                    </div>  
                   <div class="case">
                   <strong>{{recover}}</strong>
                   </div>
                </div>
                <div class="main-div">
                    <div class="head d-flex justify-content-between align-items-center">
                        <div >
                            <h3 style="font-weight: bold;">Today recoverd</h3>
                        </div>
                        <div class="icon p-3">
                            <img src="group.png" alt="" class="img-fluid " width="60px" height="60px">
                        </div>
                    </div>  
                   <div class="case">
                   <strong>{{trecover}}</strong>
                   </div>
                </div>
                <div class="main-div">
                    <div class="head d-flex justify-content-between align-items-center">
                        <div >
                            <h3 style="font-weight: bold;">Critical case</h3>
                        </div>
                        <div class="icon p-3">
                            <img src="covid.png" alt="" class="img-fluid " width="60px" height="60px">
                        </div>
                    </div>  
                   <div class="case">
                   <strong> {{critical}}</strong>
                   </div>
                </div>
                <div class="main-div">
                    <div class="head d-flex justify-content-between align-items-center">
                        <div >
                            <h3 style="font-weight: bold;">Active  case</h3>
                        </div>
                        <div class="icon p-3">
                            <img src="health-insurance.png" alt="" class="img-fluid " width="60px" height="60px">
                        </div>
                    </div>  
                   <div class="case">
                   <strong>{{active}}</strong>
                   </div>
                </div>
               
            </div>
        </div>
    </div>
    




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>